{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Health</th>
                <th>Mana</th>
                <th>Strength</th>
                <th>Constitution</th>
                <th>Agility</th>
                <th>Intelligence</th>
                <th>Job</th>
                <th>Wins</th>
                <th>Looses</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td class="character_name">{{ character.name }}</td>
                <td>{{ character.health }}</td>
                <td>{{ character.mana }}</td>
                <td>{{ character.strength }}</td>
                <td>{{ character.constitution }}</td>
                <td>{{ character.agility }}</td>
                <td>{{ character.intelligence }}</td>
                <td>{{ character.job }}</td>
                <td>{{ character.wins }}</td>
                <td>{{ character.looses }}</td>
                <td>
                    <a href="{{ path('app_character_show', {'id': character.id}) }}">show</a>
                    <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_new') }}">Create new</a>
{% endblock %}
