{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td id="char_name">{{ character.name }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ character.health }}</td>
            </tr>
            <tr>
                <th>Mana</th>
                <td>{{ character.mana }}</td>
            </tr>
            <tr>
                <th>Strength</th>
                <td>{{ character.strength }}</td>
            </tr>
            <tr>
                <th>Constitution</th>
                <td>{{ character.constitution }}</td>
            </tr>
            <tr>
                <th>Agility</th>
                <td>{{ character.agility }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ character.intelligence }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ character.job }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_character_index') }}">back to list</a>

    <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
